@media all and (max-width: 1499px) and (min-width: 760px){


    #wrap{
        width: 100%;
        overflow: hidden;
        
    }


    /* tab_menu */
    .tab_menu{
        width: 600px;
        height: 980px;
        position: fixed;
        top: 0;
        right: -600px;
        background-color: #BD1817;
        color: #000;
        z-index: 999;

    }

    .tab_menu_wrap{
        width: 500px;
        height: 670px;
        margin: 0 auto;
        padding: 125px 0;
    }

    .tab_main{
        width: 420px;
        height: 235px;
        font-size: 30px;
        font-weight: 900;
    }

    .tab_main form{
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }

    .tab_search{
        border: 0;
        background-color: #BD1817;
    }

    .tab_search_get{
        width: 330px;
        height: 40px;
        margin-left: 20px;
        border: 0;
        background-color: #BD1817;
        font-size: 24px;
    }

    .tab_line{
        width: 100%;
        height: 3px;
        background-color: #000;

    }

    .shopping{
        display: flex;
        align-items: center;
        margin: 20px 0;
    }

    .shopping img{
        margin-right: 30px;
    }

    .tab_mypage{
        display: flex;
        align-items: center;
    }

    .tab_mypage img{
        margin-right: 30px;
    }


    .tab_sub{
        width: 100%;
    }

    .tab_line02{
        width: 100%;
        height: 2px;
        background-color: #000;
    }

    .tab_con{
        padding: 25px 0;
        font-size: 24px;

    }

    .tab_con li{
        margin-bottom: 20px;
    }

    .tab_close{
        position: absolute;
        top: 50px;
        right: 50px;
        cursor: pointer;
    }





    /* search */
    .search_menu{
        display: none;
    }

    /* front_animation */
    .front_animation{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100vw;
        z-index: 9999;
        display: none;
       
    }

    .background{
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;
    }

    .front_animation img{
        width: 100vw;
        height: 100%;
    }



    /* header */
    header{
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        margin: 0 auto;
    }

    .logo{
        width: 350px;
        height: 100%;
        background-color: #BD1817;
        position: absolute;
        top: 0;
        left: 0;
    }

    .header01{
        width: 76.666vw;
        height: 100%;
        background-color: #E8E8E8;
        position: absolute;
        left: 350px;
        display: flex;
        align-items: center;
    }

    .menu_wrap{
        width: 500px;
        display: flex;
        justify-content: space-around;
        font-size: 18px;
        position: absolute;
        left: 30px;
        display: none;
    }

    .mypage_wrap{
        width: 200px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 80px;
        display: none;
    }

    .search{
        cursor: pointer;
    }

    .tab{
        position: absolute;
        top: 50%;
        margin-top: -17.5px;
        right: 200px;
        cursor: pointer;
    }


    /* main_banner */
    .slider{
        position: relative;
        top: 80px;
        margin: 0 auto;
        overflow: hidden;
        
    }

    .slider ul{
        position: relative;
    }

    .slider ul li{
        position: relative;
        float: left;
        width: 600px;
        height: 900px;

    }

    .arrow{
        width: 170px;
        position: absolute;
        bottom: 45px;
        left: 15px;
        display: flex;
        justify-content: space-around;
        z-index: 9
        
    }

    .text{
        font-size: 24px;
        font-weight: 900;
    }

    /* mo_banner */

    .mo_swiper{
        display: none;
    }
    



    /* section01 */
    .sec01{
        width: 900px;
        height: 900px;
        position: relative;
        margin: 100px auto;
        
    }

    .circle_animation{
        width: 100%;
        height: 150px;
        position: absolute;
        
    }

    #circle_ani01{
        top: 100px;
    }

    #circle_ani02{
        bottom: 100px;
    }

    .line{
        width: 100%;
        height: 2px;
        background-color: #000;
        position: absolute;
        top: 75px;
       
    }

    .circle{
        background-color: #BD1817;
        position: absolute;

    }

    #cir01{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: 25px;
        left: 100px;
        animation: box01 10s alternate infinite;
        
    }

    #cir02{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        top: 60px;
        right: 100px;
        animation: box02 8s alternate infinite ease-in;
    }

    #cir03{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        top: 45px;
        left: 200px;
        animation: box03 10s alternate infinite ease-in;

    }
    
    #cir04{
        width: 130px;
        height: 130px;
        border-radius: 50%;
        top: 10px;
        right: 200px;
        animation: box04 8s alternate infinite;

    }

    @keyframes box01{
        0%{
            margin-left: 0;
        }

        50%{
            margin-left: 50%;
        }

        100%{
            margin-left: -100px;
        }
    }

    @keyframes box02{
        0%{
            margin-right: 0;
        }

        50%{
            margin-right: -100px;
        }

        100%{
            margin-right: 300px;
        }
    }

    @keyframes box03{
        0%{
            margin-left: 0;
        }

        50%{
            margin-left: -150px;
        }

        100%{
            margin-left: 200px;
        }
    }

    @keyframes box04{
        0%{
            margin-right: 0;
        }

        50%{
            margin-right: -200px;
        }

        100%{
            margin-right: 150px;
        }
    }


    .product{
        width: 800px;
        height: 380px;
        position: absolute;
        top: 260px;
        left: 50px;
    }


    .product p{
        font-size: 35px;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 900;
    }

    .con_wrap{
        display: flex;
        justify-content: space-around;
    }

    .con{
        width: 250px;
        height: 350px;
        float: left;
        text-align: center;
        box-sizing: border-box;
        position: relative;
    }



    /* con01 */
    #con01:before, #con01:after{
        display: block;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        transition: width 1s, height 1s;
        box-sizing: border-box;
        display: none;
    }

    #con01::before{
        top: 0;
        left: 0;
        border: 0;
        border-top-width: 5px;
        border-left-width: 5px;
    }

    #con01::after{
        bottom: 0;
        right: 0;
        border: 0;
        border-bottom-width: 5px;
        border-right-width: 5px;
    }

    #con01:hover::before, #con01:hover::after{

        width: 100%;
        height: 100%;
        border-style: solid;
        border-color: #BD1817;
        
    }

    /* con02 */
    #con02:before, #con02:after{
        display: block;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        transition: width 1s, height 1s;
        box-sizing: border-box;
        display: none;
    }

    #con02::before{
        top: 0;
        left: 0;
        border: 0;
        border-top-width: 5px;
        border-left-width: 5px;
    }

    #con02::after{
        bottom: 0;
        right: 0;
        border: 0;
        border-bottom-width: 5px;
        border-right-width: 5px;
    }

    #con02:hover::before, #con02:hover::after{

        width: 100%;
        height: 100%;
        border-style: solid;
        border-color: #BD1817;
        
    }


    /* con03 */
    #con03:before, #con03:after{
        display: block;
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-style: solid;
        transition: width 1s, height 1s;
        box-sizing: border-box;
        display: none;
    }

    #con03::before{
        top: 0;
        left: 0;
        border: 0;
        border-top-width: 5px;
        border-left-width: 5px;
    }

    #con03::after{
        bottom: 0;
        right: 0;
        border: 0;
        border-bottom-width: 5px;
        border-right-width: 5px;
    }

    #con03:hover::before, #con03:hover::after{

        width: 100%;
        height: 100%;
        border-style: solid;
        border-color: #BD1817;
        
    }

    .con h3{
        margin-top: 20px;
    }

   
    /* section02 */
    .sec02{
        width: 100%;
        background-color: #141414;
        padding: 100px 0;
        position: relative;
        top: 0;
        left: 0;
        z-index: -9;
        
    }

    .sec02_img{
        position: relative;
        right: -500px;
        opacity: 0;
        
    }

    .sec02 h1{
        text-align: center;
        color: #fff;
        margin-bottom: 50px;
    }

    .sec02 img{
        margin: 0 auto;
    }


    /* section03 */
    .sec03{
        width: 100%;
        height: 750px;
        background-color: #141414;
        position: relative;
        top: 0;
        left: 0;
        
       
    }

    video{
        position: absolute;
        top: 125px;
        left: 50%;
        margin-left: -450px;
        opacity: 0;
        transition: 1s;
      
    }


    /* section04 */

    .sec04{
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        background-color: #ECECEC;
    }

    .sec04 h1{
        width: 100%;
        height: 80px;
        background-color: #BD1817;
        color: #fff;
        text-align: center;
        line-height: 80px;
    }

    .care_wrap{
        width: 100%;
        margin: 0 auto;
        padding: 50px 0 ;
    }

    .care{
        width: 100%;
        height: 750px;
        overflow: hidden;

    }

    .care:nth-child(3){
        height: 600px;
    }


    .care h2{
        margin: 50px 50px;
        margin-bottom: 30px;
       
    }

    .arrow02{
        width: 80px;
        height: 25px;
        position: relative;
        left: 50px;
        margin-bottom: 20px;
        padding: 15px;
        background-color: #fff;
        border-radius: 20px 20px;

    }

    .arrow02 li{
        float: left;
    }

    .arrow02 li:nth-child(1){
        position: absolute;
        left: 15px;
    }

    .arrow02 li:nth-child(2){
        position: absolute;
        right: 15px;
    }

    
    .care01{
        width: 1550px;
        height: 445px;
        margin-left: 50px;
        position: relative;
        top: 0;
        left: 0;
        
       
    }

    .care02{
        width: 2350px;
        height: 445px;
        margin-left: 50px;
        position: relative;
        top: 0;
        left: 0;
        
    }

    .care03{
        width: 750px;
        height: 445px;
        margin-left: 50px;
        
    }
    
    .care_product{
        float: left;
        margin-right: 50px;
    }

    .care01 .care_product:nth-child(4){
        margin-right: 0;
    }

    .care02 .care_product:nth-child(6){
        margin-right: 0;
    }

    .care03 .care_product:nth-child(2){
        margin-right: 0;
    }

    .care_product img{
        margin-bottom: 10px;
        
    }

    .care_product p{
        font-size: 18px;
    }

    /* mo_care */
    .mo_care_wrap{
        display: none;
    }
    

    
    /* footer */
    footer{
        width: 100%;
        
    }

    .footer_wrap{
        margin: 50px;

    }

    .fo01 p{
        margin: 20px 0;
    }

    .fo02{
        margin: 30px 0;
    }

    
    
    /* top_btn */

    .top_btn{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #BD1817;
        text-align: center;
        line-height: 80px;
        position: fixed;
        bottom: 50px;
        right: 50px;
        color: #fff;
        font-size: 24px;
        font-weight: 900;
    }

  





    



























}